@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap')

body.body--dark
    font-family: 'Raleway', sans-serif
    font-weight: 600
    font-size: 15px
    transition: background .3s ease-in-out
    background: #590e0e
    color: #efefef

    .q-layout__shadow
        display: none

.text-sm
    font-size: .8rem

.no-underline
    color: #fff
    text-decoration: none

.single-line-height
    line-height: 1 !important

body.body--dark
    &.white-on-black
        color: #fff
        background: #000

    &.black-on-white
        color: #000 !important
        background: #fff

        .q-item--dark
            color: #000

            .q-item__label--caption
                color: rgba(0, 0, 0, .8) !important

    .q-list--dark.q-list--separator > .q-item-type + .q-item-type
        border-top-color: rgba(0, 0, 0, 0.12)
